.hero-book {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.click-to-open {
  display: flex;
  align-items: start;
  gap: 8px;
  color: #8c8c8c70;
  font-size: 14px;
}

.click-to-open img {
  margin-top: 10px;
}

/* container */

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

/* book */

.book {
  position: relative;
  width: 95%; /* IMPORTANT */
}

/* inside page */

.inside-page {
  width: 100%;
  display: block;
}

/* cover */

.cover-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: left;
  transition: transform 1s ease;
  cursor: pointer;
  z-index: 3;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.cover-page.open {
  transform: rotateY(-180deg);
}

/* back button */

.back-btn {
  position: absolute;
  top: 16px;
  left: 108px;
  padding: 8px 14px;
  font-size: 18px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* .book {
  position: relative;
  width: 900px;
} */

/* inside page image */

.inside-page {
  width: 100%;
  display: block;
}

/* hero overlay */

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 2;
  overflow: hidden;
}

/* cover */

.cover-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: left;
  transition: transform 1s ease;
  cursor: pointer;
  z-index: 3;
}

.cover-page.open {
  transform: rotateY(-160deg);
}

/* back button */

.back-btn {
  position: absolute;
  top: 5%;
  left: 11%;
  z-index: 4;

  opacity: 0;
  transform: translateX(-10px);
  animation: backButtonAppear 0.5s ease forwards;
}

/* animation */

@keyframes backButtonAppear {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.case-studies-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-studies-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  /* border: 1px solid #8c8c8c70; */
  border-radius: 8px;
  color: white;
  font-size: 36px;
}
