.book-hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.book-hero-text {
  /* max-width: 420px; */
  color: white;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}

.book-hero-name {
  font-family: "Aldrich", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 0px;
}

.book-hero-role {
  font-size: 36px;
  font-weight: bold;
  color: #0074f5;
  margin-top: 10px;
  font-family: "inter", sans-serif;
  margin-bottom: 0px;
}

.book-hero-description {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.6;
  color: #828282;
  /* font-family: "inter", sans-serif; */
}
.skills-img {
  width: 96%;
  margin-top: 20px;
}

.book-hero-image {
  text-align: center;
}

.book-hero-image img {
  width: 100%;
  padding-right: 5%;
}
.hero-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  color: white;
  border: 2px solid #5494ed;
  background-color: #5494ed40;
  border-radius: 8px;
  font-size: 14px;
  padding: 12px;
}
.status-dot {
  width: 12px;
  height: 12px;
  background-color: #00ed2b;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

/* animation */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 237, 43, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 237, 43, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 237, 43, 0);
  }
}

.contact-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: white;
  padding-right: 5%;
  margin-top: 60px;
}
.mail-contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #c4c4c4;
}
.download-resume-btn {
  font-family: "aldrich", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
  /* background: linear-gradient(90deg, #0050a8, #067cff, #0050a8); */
  /* background-color: #0074f5; */
  background-color: black;
}
.download-resume-btn img {
  color: #c4c4c4;
}
